@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <p>Welcome to our dashboard</p>

    <p>More content will come one day on this page aswell ;)</p>
    <img src="http://www.projectinsight.net/articles/articlesshare/i/2014/project-puzzle-pieces.jpg" width="50%">
</div>
<!-- /.row -->

