@model IEnumerable<Web_UI.Models.VMProject>

@{
    ViewBag.Title = "Project Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=name]:radio").change(function () {
            var hund = $("input[name=name]:checked").val();
            $.getJSON('/Project/getTasksForProject/', { projectid: hund }, function (data) {
                var htmlStr = '';
                $.each(data, function (k, v) {
                    var id = v.Id;
                    var btn = '@Html.ActionLink(linkText: "Open task",actionName: "Details",controllerName: "Task",routeValues: new { id = -1 }, htmlAttributes: new { @class = "btn btn-default" })';
                    btn = btn.replace('-1', id);
                    htmlStr += '<h3>' + v.Title + '</h3><div class="task-list"><p>' + v.Description + '</p><br />' + btn + '</div>';
                });
                $("#tasks").html(htmlStr);
            });
        });
    })
</script>
<div class="col-lg-12">
    <div class="jumbotron">
        <h1 class="page-header">Projects</h1>
    </div>
</div>
<!-- /.col-lg-12 -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-5">
        <h2>Your Projects @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })</h2>
        <div class="col-lg-5">
            @foreach (var p in Model)
            {
                <div id="projectList" class="col-lg-5">
                    <label>@Html.RadioButton("name", p.Id.ToString(), false, new { @class = "RadioButtonItem" })<span>@p.Title</span></label>
                </div>
            }
        </div>

    </div>
    <!-- /.col-lg-5 Project list -->
    <div class="col-lg-7">
        <h2>Projects tasks</h2>
        <div id="tasks">
        </div>
    </div>
    <!-- /.col-lg-5 task info list -->
</div>
<!-- /.row -->
