@*@model IEnumerable<Web_UI.Models.VMProject>*@
@*  MODEL NOT NEEDED ANY MORE BECAUSE OF SIGNALR, all is being made with js and signalR*@

@{
    ViewBag.Title = "ProjectList";
}

<div class="col-lg-12">
    <h2>Project Management</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="tasks" data-bind="template:{name: 'project-template', foreach: projects }">
    </div>
    <script src="~/Scripts/Signalr/signalr-project.js"></script>

    <script type="text/html" id="project-template">
        <h3 data-bind="text: Title"></h3>
        <div class="task-list">
            <p data-bind="text: Description"></p>
            <hr />
            <a data-bind="attr: { 'href': '@Url.Action("Edit")/' + Id() }" class="btn btn-primary">Open</a> |
            <a data-bind="attr: { 'href': '@Url.Action("Delete")/' + Id() }" class="btn btn-default">Delete</a>
        </div>
    </script>
</div>

@section Signalr {
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/signalr/hubs"></script>
}